<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/org-2023-2023.1.7-1681119800/ORG%202023_2023.1.7_1681119800.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://archive.org/download/759-d-04-eb-ec-20-4-dd-0-8-a-57-b-8-b-4-a-8-bf-602-b/__ia_thumb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://archive.org/download/80-d-123-cd-d-8-ed-46-d-9-b-7-ae-4-b-5-a-0-a-27-a-346/80D123CD-D8ED-46D9-B7AE-4B5A0A27A346_thumb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.sofeh.ios.musicstudio12</string>
				<key>bundle-version</key>
				<string>438</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Org 2023</string>
				<key>title</key>
				<string>Org 2023</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
